<body>
    <div>
        <h1>Newest Students</h1>
        
        <% @users.reverse_each do |user| %>
            <p><%= user.username %> playing as a <%=  %></p>
        <% end %>
        
        <p><%= link_to 'Back', controller: 'welcome' %></p>
    </div>
</body>