<body>
    <div>
        <h1>Welcome to <em>Winsor Academy!</em></h1>
        
        <img src = "http://i.imgur.com/aB5rAWY.jpg?1" alt = "Fantasy school" id = "image">
        
        <h2>You may find that the Academy life is hard, try your best not to fail.</h2>
        
        <%= link_to 'Game', controller: 'games' %>
        
    </div>
</body>