<body>
    <div>
            
        <p>Resume your journey by entering your username...</p>
        <p><input type="text" name="key"><br>
        <button onclick="getUsername()">Continue</button></p>
        
        <script>
            function getUsername() {
                return document.getElementById("myText").value;
            }
        </script>
        
        <p>OR</p>
        
        <p id="enroll"><%= link_to 'Start a new journey!', new_user_path %></p>
        
        <p><%= link_to 'Back', controller: 'welcome' %></p>
    </div>
</body>