<body>
    <div>
            
        <p>Continue your journey with your special key...</p>
        <form>
            <input type="text" name="key">
        </form>
        
        <p>OR</p>
        
        <p id="enroll"><%= link_to 'Start a new journey!', new_user_path %></p>
        
        <p><%= link_to 'Back', controller: 'welcome' %></p>
    </div>
</body>